name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: install root deps
      run: npm ci

    - name: run backend tests
      run: |
        cd backend
        npm ci
        npm test
        cd ..
      
    - name: run frontend tests
      run: |
        cd frontend
        npm ci
        npm test
        cd ..
