name: Node.js CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    container:
      image: node:20
    steps:
    - uses: actions/checkout@v4
      with:
        node-version: 20.x
    - run: npm ci
    - run: cd frontend && npm start
